<!DOCTYPE html>
<html>
    <head> 
        <h1>Signup</h1>
        <style> .error { color: red; }</style>
    </head>
    <body>
        <form action="/" method="post">
            
                <label for="username">Username:        
                <input type="text" name="username" value="{{username}}" />
                </label>
                <p class='user_error'>{{user_error}}</p>
                
                
                <label for="password">Password: 
                <input type="text" name="password" value="{{password}}"/>
                </label>
                <p class='password_error'>{{password_error}}</p>
                <br>

                <label for="verify_password">Verify Password:
                <input type="text" name="verify_password" value="{{verify_password}}"/>
                </label>
                <br>

                <label for= 'email'>Email (Optional):
                <input type= "text" name='email' value="{{email}}"/>
                <p class='email_error'>{{email_error}}</p>
                </label>
                <br>

                <input type="submit" value="Submit"/>

        </form>
    </body>
</html>