<!DOCTYPE html>
<html>
    <head> 
        <h1>Signup</h1>
    </head>
    <body>
        <form action="/welcome" method="post">
            
                <div><label for="username">Username: </label>       
                <input type="text" name="username" /></div>
                <div><label for="password">Password: </label>
                <input type="text" name="password"/></div>
                <div><label for="verify_password">Verify Password:</label>
                <input type="text" name="verify_password"></div>
                <div><label for= 'email'>Email (Optional):</label>
                <input type= "text" name='email'/></div>
                <div><input type="submit" value="Submit"/></div>

        </form>
    </body>
</html>